/*a{
  text-color: #000000;
}
a:hover{
  text-color: white;
}*/
body{
  background-image: url('../img/prism.png');
  background-repeat: repeat;
}
.navbar-brand {
  transform: translateX(-50%);
  left: 50%;
  position: absolute;
  margin-top: 10px;
}
.nav{
  margin: 0 auto;
}
